body {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 14px;
    text-align: center;
    background-image: url(images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 50vh;
    min-height: 100vh;
    background-color: hsl(225, 100%, 94%);
}

.container {
    width: 90%;
    height: auto;
    border-radius: 10px;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

#hero {
    max-width: 100%;
    border: none;
}

h1 {
    font-size: 22px;
    color: hsl(223, 47%, 23%);
}

.text-content {
    margin: 30px;
    border: none;
}

.text-content p {
    color: hsl(224, 23%, 55%);
}

.choice {
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
    margin: 20px 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.choice-lhs {
    display: flex;
    align-items: center;

}

.choice-lhs img {
    width: auto;
    padding: 0;
    margin: 0;
}

.plan-container {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.plan-container h2 {
    font-size: 14px;
    color: hsl(223, 47%, 23%);
    margin: 2px;
}

.plan-container p {
    margin: 2px;
}

.choice-rhs {
    text-align: right;
}

.payment-btn {
    color: white;
    font-weight: bold;
    background-color: hsl(245, 75%, 52%);
    border-radius: 10px;
    padding: 10px 0 10px 0;
    box-shadow: 0 10px 75px hsl(224, 23%, 55%);
    cursor: pointer;

}

.payment-btn:hover {
    transform: translateY(-0.25em);
    background-color: hsla(245, 75%, 52%, 0.342);
}


.cancel {
    color: hsl(224, 23%, 55%);
    font-weight: bold;
    cursor: pointer;

}

@media screen and (min-width: 400px) {

    body {
        background-image: url('images/pattern-background-desktop.svg')
    }

    .container {
        width: 350px;
    }
}